/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ml-5 {
  margin-left: 3.5rem;
}

.mx-2 {
  margin: 0 2rem;
}

.flex {
  display: flex;
}

.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.route-selected {
  background-color: rgba(0,0,0,.2);
  transition: background-color .2s;
}
